[user]
	email = keric.yi@gmail.com
	name = Eric Ke

[core]
	autocrlf = input

[pull]
	ff = only

[fetch]
	prune = true

[rerere]
	enabled = true

[merge]
	conflictstyle = diff3

[log]
	abbrevCommit = true
	graph = true
